<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="/images/shortcut3.svg" type="image/x-icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('header.ejs') %>
    <div class="stripe-space"></div>
    <main class="about">
        <div class="about-platform">
            <span class="about-platform__heading">About Agricultural Genetic Resource Analysis Platform</span>
            <p class="about-platform__content">Agricultural genetic resources are important source in the field of agriculture and biotechnology industry for food production increase and maintaining the biodiversity. As the basic material for the research of improving varieties and developing new species, analysis for features in agricultural genetic resource is needed. However, identifying important features and performing correlation analysis based on the resources are limited, which makes it difficult for the efficient data utilization. “Agricultural Genetic Resource Analysis” is a web-based platform performing machine learning based analysis using the agricultural genetic dataset. It provides classification, clustering, feature selection and correlation analysis with an intuitive interface and allows users to obtain understanding of important features in the dataset.</p>
        </div>
        <div class="about-reference">
            <span class="about-reference__heading">Reference</span>
            <div class="about-reference__content">
                <p class="reference-title">Lorem Ipsum</p>
                <p>reference1</p>
            </div>
        </div>
    </main>
    <%- include('footer.ejs') %>
</body>
</html>
