<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="/images/shortcut3.svg" type="image/x-icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('header.ejs') %>
    <div class="stripe-space"></div>
    <main class="contact-main">
        <div class="contact-main-content">
            <div class="contact-info">
                <h1>Contact .... Platform</h1>
                <h2>Email</h2>
                <p><strong>General Help Desk</strong></p>
                <p class="e-mail"><strong>... AT sookmyung.ac.kr</strong></p>
                <p><strong>Programmatic Access Questions</strong></p>
                <p class="e-mail"><strong>cbi.bioinfo AT google.com</strong></p>
                <h2>Address</h2>
                <p><strong>platform</strong></p>
                <p>Sookmyung Women's University</p>
                <p>100, Cheongpa-ro, 47-gil, Yongsan-gu,</p>
                <p>Seoul, Republic of Korea</p>
            </div>
        </div>
    </main>
    <%- include('footer.ejs') %>
</body>
</html>