<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="/images/shortcut3.svg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/6281c0ce53.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/modal/css/jquery.loadingModal.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('header.ejs') %>
    <%- include('main.ejs') %>
    <%- include('footer.ejs') %>
    <script src="http://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="/modal/js/jquery.loadingModal.js"></script>
    <script type="text/javascript">
        /* page loading screen code */
        /*$(document).ready(function() {
            $('body').loadingModal('hide');
        });

        $(window).on('beforeunload', function() {
            $('body').loadingModal({text: 'The file is being processed.......'});
    
            var delay = function(ms){ return new Promise(function(r) { setTimeout(r, ms) }) };
            var time = 2000;
    
            delay(time)
                    .then(function() { $('body').loadingModal('animation', 'rotatingPlane').loadingModal('backgroundColor', 'gray'); return delay(time);})
                    .then(function() { $('body').loadingModal('animation', 'wave'); return delay(time);})
                    .then(function() { $('body').loadingModal('animation', 'wanderingCubes').loadingModal('backgroundColor', 'gray'); return delay(time);})
                    .then(function() { $('body').loadingModal('animation', 'spinner'); return delay(time);})
                    .then(function() { $('body').loadingModal('animation', 'chasingDots').loadingModal('backgroundColor', 'gray'); return delay(time);})
                    .then(function() { $('body').loadingModal('animation', 'threeBounce'); return delay(time);})
                    .then(function() { $('body').loadingModal('animation', 'circle').loadingModal('backgroundColor', 'gray'); return delay(time);})
                    .then(function() { $('body').loadingModal('animation', 'cubeGrid'); return delay(time);})
                    .then(function() { $('body').loadingModal('animation', 'fadingCircle').loadingModal('backgroundColor', 'gray'); return delay(time);})
                    .then(function() { $('body').loadingModal('animation', 'foldingCube'); return delay(time); } )
                    .then(function() { $('body').loadingModal('color', 'black').loadingModal('text', 'Done :-)').loadingModal('backgroundColor', 'gray');  return delay(time); } )
                    .then(function() { $('body').loadingModal('hide'); return delay(time); } )
                    .then(function() { $('body').loadingModal('destroy') ;} );
        });*/
    </script>
</body>
</html>