<main class="search__main">
    <div class="top_border"></div>
    <div class="search__result">
        <div class="search__result2">
            <table>
                <tr>
                    <td> 
                        <ul> 
                            <li><a href="/results/classification"><img src="/images/classification.png" id="menu_icon"></a></li>
                            <li>Classification</li> 
                        </ul>
                    </td>
                    <td>
                        <ul> 
                            <li><a href="/results/feature"><img src="/images/feature-selection.png" id="menu_icon"></a></li>
                            <li>Feature Selection</li> 
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul> 
                            <li><a href="/results/cluster"><img src="/images/cluster.png" id="menu_icon"></a></li>
                            <li>Clustering</li> 
                        </ul>
                    </td>
                    <td>
                        <ul> 
                            <li><a href="/results/corr"><img src="/images/matrix2.png" id="menu_icon"></a></li>
                            <li>Correlation Analysis</li> 
                        </ul>
                    </td>
                    
                </tr>
            </table>
      
        
        </div> 
    
    </div>
    	 
</main>
